@import url('./reset.css');

.s-wrapper {
    display: flex;
    height: 100vh;
}

.s-wrapper .s-left-column {
    width: 100px;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-wrapper .s-left-content {
    height: 100vh;
    width: 100%;
    background-color: #808080;
    padding-left: 30px;
}

/*    nav    */

.navegator {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navegator ul li {
    margin: 10vh 0;
}